* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;

}


header {
    background-color: #1F2937;
    display: flex;
    padding: 8px 48px;

}


.block1 {
    display: flex;
    flex-direction: column;

}

.subblock1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subblock2 {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.subblock2-text {
    display: flex;
    flex-direction: column;
}

.subblock2 h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;

}

.subblock2 p {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    
}

.block2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.block2 h1 {
    color: black;
}

.squares-and-text {
    display: flex;
    justify-content: space-around;
}

.square-with-text {
    display: flex;
    flex-direction: column;
    margin: 16px;
    max-width: 100px;

}

.square {
    height: 100px;
    width: 100px;
    border: 2px solid lightblue;
    border-radius: 12px;
}

.squares-and-text p {
        color: black;
}

.block3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 0px 48px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}
.author {
    margin-left: auto;
    font-weight: bolder;
    color: black;
}